 /* Font ekleme */
    @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
      
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body{
    background-color: rgb(57, 72, 103);
    scrollbar-color: rgb(33, 42, 62);
    height: 100vh;
}
.ustmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.849);
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
}
.yazi{
    width: 250px;
    height: 70px;
    background-size: cover;
}
.yazi img{
    width: 150px;
    height: 70px;
    object-fit:cover;
    background-size: cover;
    margin-left: 100px;
    padding-top: 5px;
    cursor: pointer;
    transform: scale(1.1);
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 80px;
}
.menu ul li{
    list-style: none;
    margin-left: 25px;
    font-size: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(33, 42, 62);
    padding: 7px;
    transition: 0.5s;
}
.menu ul li a:hover{
    background-color: rgb(155, 164, 181);
    color:rgb(33, 42, 62);
    border-radius: 10px;
    text-decoration: underline;
}
.ustmenu .active{
    color:rgb(33, 42, 62);
    text-decoration: underline;
    
}
.bolum-1{
   position: relative;
   width: 100%;
   height: 640px;
   margin-bottom: 45px;
   margin-top: 50px;
}
.resim{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.resim img{
    width: 100%;
    height: 630px;
    object-fit:cover;
    opacity: 0.5;
    position: absolute;
    filter: drop-shadow(5px 14px 4px #000000);
}
.ortametin{
    color: white;
    position: absolute;
    font-size: 35px;
    top: 190px;
    left: 180px;
}
.ortametin2{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 290px;
    left: 205px;
}
.icons{
    position: absolute;
    top: 520px;
    left: 200px;
}
 .icons ul{
    display: flex;
    position: absolute;
    list-style: none;
} 
.fab ,.fas {
    padding: 8px;
    font-size: 40px;
    width: 50px;
    text-decoration: none;
    margin: 10px;
}
.fab:hover,.fas:hover {
    opacity: 0.7;
    transform: scale(1.2);
}
.fa-facebook-f {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-envelope{
    background: #125688;
    color: white;
    width: 56px;
}

 .icons2 ul{
    display: flex;
    list-style: none;
} 
h2{
    width: 95%;
    text-align: center;
    margin: 10px 0 10px 0;
    margin: auto;
    font-size: 2rem;
    /* background-color: rgb(155, 164, 181); */
    background-color: rgba(255, 255, 255, 0.849);
}
.bolum-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 320px;
    margin: auto;
    margin-bottom: 30px;
    /* background-color: rgb(33, 42, 62) */
}
.bolum-2-resim{
    width: 20%;
    margin-top: 30px;
}
.bolum-2-yazi{
    width: 75%;
}
.bolum-2 img{
    width: 250px;
    height: 270px;
    object-fit: cover;
    background-size: cover;
    filter: drop-shadow(5px 14px 4px #000000);
    border-radius: 25px;
    margin-left: 200px;
}
.bolum-2 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.bolum-2 p{
    width: 70%;
    font-size: 1.2rem;
    margin: 25px;
    margin-left: 300px;
    color: rgba(255, 255, 255, 0.849);
}
.ikilibaslik{
    width: 95%;
    display: flex;
    margin: auto;
}
.ikilibaslik h2{
    margin-left: 10px;
}
.bolum-3{
    width: 95%;
    display: flex;
    color: rgba(255, 255, 255, 0.849);
    margin: auto;
    margin-bottom: 30px;
}
.sol{
    margin: 10px;
    width: 50%;
    font-size: 1rem;
    margin-top: 35px;
}
.sol .icerik2{
    margin-top: 25px;
}
.sag{
    width: 50%;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.sag .icerik2{
    margin-top: 25px;
}
.bolum-4{
    width: 95%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(255, 255, 255, 0.849);
    margin-left: 50px;
    margin-right: 50px;
}
.soltaraf{
    margin-right: 270px;
}
progress{
    margin: 10px;
    width: 300px;
    height: 50px;
}
.soltaraf p{
    margin-left: 45px;
    margin-right: 25px;
    text-align: center;
    font-size: 1.3rem;
}
.sagtaraf p{
    margin-left: 45px;
    margin-right: 25px;
    text-align: center;
    font-size: 1.3rem;
}
 .bolum-5{
width: 95%;
height: 150px;
 }
.bolum-6{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.bolum-6 form{
    margin: auto;
    margin-left: 100px;
    
}
.bolum-6 input{
    width: 500px;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(33, 42, 62);
    color:rgba(255, 255, 255, 0.849);
}
.bolum-6 textarea{
    width: 500px;
    height: 150px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(33, 42, 62);
    color:rgba(255, 255, 255, 0.849); 
}
.bolum-6 button{
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    margin-left: 180px;
    transition: 0.5s;
}
.bolum-6 button:hover{
   cursor: pointer;
   box-shadow: 3px 8px 5px #0d0d0d;
}

::-webkit-scrollbar {width:15px;height: 15px;} 
::-webkit-scrollbar-track {background-color:transparent;} 
::-webkit-scrollbar-thumb {background-color: #88adbd;} 
::-webkit-scrollbar-thumb:hover {background-color:rgb(33, 42, 62);}


#button {
    display: inline-block;
    background-color: #212A3E;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    transition: background-color .3s;
    z-index: 1000;
  }
  #button:hover {
    cursor: pointer;
    background-color: rgb(155, 164, 181);
  }
  #button:active {
    background-color: rgb(155, 164, 181);
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    line-height: 45px;
    color: #fff;
  }
footer{
    height: 80px;
    width: 98%;
    margin: auto;
    /* background-color: rgb(155, 164, 181); */
    background-color: rgba(255, 255, 255, 0.849);
    margin-bottom: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
footer p{
    font-size: 1.2rem;
}
footer .icons2{
    margin-right: 50px;
}